@layer reset, base, tokens, recipes, utilities;

@layer reset{
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--global-color-border, currentColor);
  }

  html {
    line-height: 1.5;
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: var(--global-font-body, var(--font-fallback));
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  body {
    height: 100%;
    line-height: inherit;
  }

  img {
    border-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ol,
  ul {
    list-style: none;
  }

  code,
  kbd,
  pre,
  samp {
    font-size: 1em;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
  }

  button,
  select {
    text-transform: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: var(--global-color-placeholder, #9ca3af);
  }

  textarea {
    resize: vertical;
  }

  summary {
    display: list-item;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  dialog {
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-size: 1em;
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-family: var(--global-font-mono, var(--font-mono-fallback));
  }

  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration,
  ::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  input[type='number']{
    -moz-appearance: textfield;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  :-moz-focusring {
    outline: auto;
  }
}

@layer base{
  :root{
    --made-with-panda: '🐼';
  }

  *, *::before, *::after, ::backdrop{
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
  }

  body{
    font-family: var(--lb-fonts-sans);
  }
}

@layer tokens{
  :where(:root, :host) {
    --lb-colors-white: #ffffff;
    --lb-colors-black: #000000;
    --lb-spacing-1: 1px;
    --lb-spacing-2: 0.125rem;
    --lb-spacing-3: 0.25rem;
    --lb-spacing-4: 0.5rem;
    --lb-spacing-5: 0.75rem;
    --lb-spacing-6: 1rem;
    --lb-spacing-7: 1.5rem;
    --lb-spacing-8: 2rem;
    --lb-spacing-9: 3rem;
    --lb-spacing-10: 4rem;
    --lb-font-sizes-0: 0.5rem;
    --lb-font-sizes-1: 0.625rem;
    --lb-font-sizes-2: 0.6875rem;
    --lb-font-sizes-3: 0.75rem;
    --lb-font-sizes-4: 0.8125rem;
    --lb-font-sizes-5: 0.875rem;
    --lb-font-sizes-6: 1rem;
    --lb-font-sizes-7: 1.125rem;
    --lb-font-sizes-8: 1.25rem;
    --lb-font-sizes-9: 1.5rem;
    --lb-font-sizes-10: 2rem;
    --lb-font-sizes-11: 2.5rem;
    --lb-font-sizes-12: 3rem;
    --lb-radii-xs: 3px;
    --lb-radii-sm: 6px;
    --lb-radii-md: 8px;
    --lb-radii-xl: 15px;
    --lb-font-weights-normal: 400;
    --lb-font-weights-medium: 500;
    --lb-font-weights-bold: 600;
    --lb-fonts-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Helvetica, sans-serif;
    --lb-fonts-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --lb-breakpoints-sm: 640px;
    --lb-breakpoints-md: 768px;
    --lb-breakpoints-lg: 1024px;
    --lb-breakpoints-xl: 1280px;
    --lb-sizes-breakpoint-sm: 640px;
    --lb-sizes-breakpoint-md: 768px;
    --lb-sizes-breakpoint-lg: 1024px;
    --lb-sizes-breakpoint-xl: 1280px;
    --lb-colors-base-bg: #f2f2f5;
    --lb-colors-content-bg: #fcfcfd;
    --lb-colors-borders: #e4e4e9;
    --lb-colors-gray1: #fcfcfd;
    --lb-colors-gray2: #f9f9fb;
    --lb-colors-gray3: #f2f2f5;
    --lb-colors-gray4: #ebebef;
    --lb-colors-gray5: #e4e4e9;
    --lb-colors-gray6: #dddde3;
    --lb-colors-gray7: #d3d4db;
    --lb-colors-gray8: #b9bbc6;
    --lb-colors-gray9: #8b8d98;
    --lb-colors-gray10: #7e808a;
    --lb-colors-gray11: #60646c;
    --lb-colors-gray12: #1c2024;
    --lb-colors-gold1: #fdfdfc;
    --lb-colors-gold2: #faf9f2;
    --lb-colors-gold3: #f2f0e7;
    --lb-colors-gold4: #eae6db;
    --lb-colors-gold5: #e1dccf;
    --lb-colors-gold6: #d8d0bf;
    --lb-colors-gold7: #cbc0aa;
    --lb-colors-gold8: #b9a88d;
    --lb-colors-gold9: #978365;
    --lb-colors-gold10: #8c7a5e;
    --lb-colors-gold11: #71624b;
    --lb-colors-gold12: #3b352b;
    --lb-colors-bronze1: #fdfcfc;
    --lb-colors-bronze2: #fdf7f5;
    --lb-colors-bronze3: #f6edea;
    --lb-colors-bronze4: #efe4df;
    --lb-colors-bronze5: #e7d9d3;
    --lb-colors-bronze6: #dfcdc5;
    --lb-colors-bronze7: #d3bcb3;
    --lb-colors-bronze8: #c2a499;
    --lb-colors-bronze9: #a18072;
    --lb-colors-bronze10: #957468;
    --lb-colors-bronze11: #7d5e54;
    --lb-colors-bronze12: #43302b;
    --lb-colors-brown1: #fefdfc;
    --lb-colors-brown2: #fcf9f6;
    --lb-colors-brown3: #f6eee7;
    --lb-colors-brown4: #f0e4d9;
    --lb-colors-brown5: #ebdaca;
    --lb-colors-brown6: #e4cdb7;
    --lb-colors-brown7: #dcbc9f;
    --lb-colors-brown8: #cea37e;
    --lb-colors-brown9: #ad7f58;
    --lb-colors-brown10: #a07553;
    --lb-colors-brown11: #815e46;
    --lb-colors-brown12: #3e332e;
    --lb-colors-yellow1: #fdfdf9;
    --lb-colors-yellow2: #fefce9;
    --lb-colors-yellow3: #fffab8;
    --lb-colors-yellow4: #fff394;
    --lb-colors-yellow5: #ffe770;
    --lb-colors-yellow6: #f3d768;
    --lb-colors-yellow7: #e4c767;
    --lb-colors-yellow8: #d5ae39;
    --lb-colors-yellow9: #ffe629;
    --lb-colors-yellow10: #ffdc00;
    --lb-colors-yellow11: #9e6c00;
    --lb-colors-yellow12: #473b1f;
    --lb-colors-amber1: #fefdfb;
    --lb-colors-amber2: #fefbe9;
    --lb-colors-amber3: #fff7c2;
    --lb-colors-amber4: #ffee9c;
    --lb-colors-amber5: #fbe577;
    --lb-colors-amber6: #f3d673;
    --lb-colors-amber7: #e9c162;
    --lb-colors-amber8: #e2a336;
    --lb-colors-amber9: #ffc53d;
    --lb-colors-amber10: #ffba18;
    --lb-colors-amber11: #ab6400;
    --lb-colors-amber12: #4f3422;
    --lb-colors-orange1: #fefcfb;
    --lb-colors-orange2: #fff7ed;
    --lb-colors-orange3: #ffefd6;
    --lb-colors-orange4: #ffdfb5;
    --lb-colors-orange5: #ffd19a;
    --lb-colors-orange6: #ffc182;
    --lb-colors-orange7: #f5ae73;
    --lb-colors-orange8: #ec9455;
    --lb-colors-orange9: #f76b15;
    --lb-colors-orange10: #ef5f00;
    --lb-colors-orange11: #cc4e00;
    --lb-colors-orange12: #582d1d;
    --lb-colors-tomato1: #fffcfc;
    --lb-colors-tomato2: #fff8f7;
    --lb-colors-tomato3: #feebe7;
    --lb-colors-tomato4: #ffdcd3;
    --lb-colors-tomato5: #ffcdc2;
    --lb-colors-tomato6: #fdbdaf;
    --lb-colors-tomato7: #f5a898;
    --lb-colors-tomato8: #ec8e7b;
    --lb-colors-tomato9: #e54d2e;
    --lb-colors-tomato10: #dd4425;
    --lb-colors-tomato11: #d13415;
    --lb-colors-tomato12: #5c271f;
    --lb-colors-red1: #fffcfc;
    --lb-colors-red2: #fff7f7;
    --lb-colors-red3: #feebec;
    --lb-colors-red4: #ffdbdc;
    --lb-colors-red5: #ffcdce;
    --lb-colors-red6: #fdbdbe;
    --lb-colors-red7: #f4a9aa;
    --lb-colors-red8: #eb8e90;
    --lb-colors-red9: #e5484d;
    --lb-colors-red10: #dc3e42;
    --lb-colors-red11: #ce2c31;
    --lb-colors-red12: #641723;
    --lb-colors-ruby1: #fffcfd;
    --lb-colors-ruby2: #fff7f8;
    --lb-colors-ruby3: #feeaed;
    --lb-colors-ruby4: #ffdce1;
    --lb-colors-ruby5: #ffced6;
    --lb-colors-ruby6: #f8bfc8;
    --lb-colors-ruby7: #efacb8;
    --lb-colors-ruby8: #e592a3;
    --lb-colors-ruby9: #e54666;
    --lb-colors-ruby10: #dc3b5d;
    --lb-colors-ruby11: #ca244d;
    --lb-colors-ruby12: #64172b;
    --lb-colors-crimson1: #fffcfd;
    --lb-colors-crimson2: #fef7f9;
    --lb-colors-crimson3: #ffe9f0;
    --lb-colors-crimson4: #fedce7;
    --lb-colors-crimson5: #facedd;
    --lb-colors-crimson6: #f3bed1;
    --lb-colors-crimson7: #eaacc3;
    --lb-colors-crimson8: #e093b2;
    --lb-colors-crimson9: #e93d82;
    --lb-colors-crimson10: #df3478;
    --lb-colors-crimson11: #cb1d63;
    --lb-colors-crimson12: #621639;
    --lb-colors-pink1: #fffcfe;
    --lb-colors-pink2: #fef7fb;
    --lb-colors-pink3: #fee9f5;
    --lb-colors-pink4: #fbdcef;
    --lb-colors-pink5: #f6cee7;
    --lb-colors-pink6: #efbfdd;
    --lb-colors-pink7: #e7acd0;
    --lb-colors-pink8: #dd93c2;
    --lb-colors-pink9: #d6409f;
    --lb-colors-pink10: #cf3897;
    --lb-colors-pink11: #c2298a;
    --lb-colors-pink12: #651249;
    --lb-colors-plum1: #fefcff;
    --lb-colors-plum2: #fdf7fd;
    --lb-colors-plum3: #fbebfb;
    --lb-colors-plum4: #f7def8;
    --lb-colors-plum5: #f2d1f3;
    --lb-colors-plum6: #e9c2ec;
    --lb-colors-plum7: #deade3;
    --lb-colors-plum8: #cf91d8;
    --lb-colors-plum9: #ab4aba;
    --lb-colors-plum10: #a144af;
    --lb-colors-plum11: #953ea3;
    --lb-colors-plum12: #53195d;
    --lb-colors-purple1: #fefcfe;
    --lb-colors-purple2: #fbf7fe;
    --lb-colors-purple3: #f7edfe;
    --lb-colors-purple4: #f2e2fc;
    --lb-colors-purple5: #ead5f9;
    --lb-colors-purple6: #e0c4f4;
    --lb-colors-purple7: #d1afec;
    --lb-colors-purple8: #be93e4;
    --lb-colors-purple9: #8e4ec6;
    --lb-colors-purple10: #8347b9;
    --lb-colors-purple11: #8145b5;
    --lb-colors-purple12: #402060;
    --lb-colors-violet1: #fdfcfe;
    --lb-colors-violet2: #faf8ff;
    --lb-colors-violet3: #f4f0fe;
    --lb-colors-violet4: #ebe4ff;
    --lb-colors-violet5: #e1d9ff;
    --lb-colors-violet6: #d4cafe;
    --lb-colors-violet7: #c2b5f5;
    --lb-colors-violet8: #aa99ec;
    --lb-colors-violet9: #6e56cf;
    --lb-colors-violet10: #654dc4;
    --lb-colors-violet11: #6550b9;
    --lb-colors-violet12: #2f265f;
    --lb-colors-iris1: #fdfdff;
    --lb-colors-iris2: #f8f8ff;
    --lb-colors-iris3: #f0f1fe;
    --lb-colors-iris4: #e6e7ff;
    --lb-colors-iris5: #dadcff;
    --lb-colors-iris6: #cbcdff;
    --lb-colors-iris7: #b8baf8;
    --lb-colors-iris8: #9b9ef0;
    --lb-colors-iris9: #5b5bd6;
    --lb-colors-iris10: #5151cd;
    --lb-colors-iris11: #5753c6;
    --lb-colors-iris12: #272962;
    --lb-colors-indigo1: #fdfdfe;
    --lb-colors-indigo2: #f7f9ff;
    --lb-colors-indigo3: #edf2fe;
    --lb-colors-indigo4: #e1e9ff;
    --lb-colors-indigo5: #d2deff;
    --lb-colors-indigo6: #c1d0ff;
    --lb-colors-indigo7: #abbdf9;
    --lb-colors-indigo8: #8da4ef;
    --lb-colors-indigo9: #3e63dd;
    --lb-colors-indigo10: #3358d4;
    --lb-colors-indigo11: #3a5bc7;
    --lb-colors-indigo12: #1f2d5c;
    --lb-colors-blue1: #fbfdff;
    --lb-colors-blue2: #f4faff;
    --lb-colors-blue3: #e6f4fe;
    --lb-colors-blue4: #d5efff;
    --lb-colors-blue5: #c2e5ff;
    --lb-colors-blue6: #acd8fc;
    --lb-colors-blue7: #8ec8f6;
    --lb-colors-blue8: #5eb1ef;
    --lb-colors-blue9: #0090ff;
    --lb-colors-blue10: #0588f0;
    --lb-colors-blue11: #0d74ce;
    --lb-colors-blue12: #113264;
    --lb-colors-cyan1: #fafdfe;
    --lb-colors-cyan2: #f2fafb;
    --lb-colors-cyan3: #def7f9;
    --lb-colors-cyan4: #caf1f6;
    --lb-colors-cyan5: #b5e9f0;
    --lb-colors-cyan6: #9ddde7;
    --lb-colors-cyan7: #7dcedc;
    --lb-colors-cyan8: #3db9cf;
    --lb-colors-cyan9: #00a2c7;
    --lb-colors-cyan10: #0797b9;
    --lb-colors-cyan11: #107d98;
    --lb-colors-cyan12: #0d3c48;
    --lb-colors-teal1: #fafefd;
    --lb-colors-teal2: #f3fbf9;
    --lb-colors-teal3: #e0f8f3;
    --lb-colors-teal4: #ccf3ea;
    --lb-colors-teal5: #b8eae0;
    --lb-colors-teal6: #a1ded2;
    --lb-colors-teal7: #83cdc1;
    --lb-colors-teal8: #53b9ab;
    --lb-colors-teal9: #12a594;
    --lb-colors-teal10: #0d9b8a;
    --lb-colors-teal11: #008573;
    --lb-colors-teal12: #0d3d38;
    --lb-colors-jade1: #fbfefd;
    --lb-colors-jade2: #f4fbf7;
    --lb-colors-jade3: #e6f7ed;
    --lb-colors-jade4: #d6f1e3;
    --lb-colors-jade5: #c3e9d7;
    --lb-colors-jade6: #acdec8;
    --lb-colors-jade7: #8bceb6;
    --lb-colors-jade8: #56ba9f;
    --lb-colors-jade9: #29a383;
    --lb-colors-jade10: #26997b;
    --lb-colors-jade11: #208368;
    --lb-colors-jade12: #1d3b31;
    --lb-colors-green1: #fbfefc;
    --lb-colors-green2: #f4fbf6;
    --lb-colors-green3: #e6f6eb;
    --lb-colors-green4: #d6f1df;
    --lb-colors-green5: #c4e8d1;
    --lb-colors-green6: #adddc0;
    --lb-colors-green7: #8eceaa;
    --lb-colors-green8: #5bb98b;
    --lb-colors-green9: #30a46c;
    --lb-colors-green10: #2b9a66;
    --lb-colors-green11: #218358;
    --lb-colors-green12: #193b2d;
    --lb-colors-grass1: #fbfefb;
    --lb-colors-grass2: #f5fbf5;
    --lb-colors-grass3: #e9f6e9;
    --lb-colors-grass4: #daf1db;
    --lb-colors-grass5: #c9e8ca;
    --lb-colors-grass6: #b2ddb5;
    --lb-colors-grass7: #94ce9a;
    --lb-colors-grass8: #65ba74;
    --lb-colors-grass9: #46a758;
    --lb-colors-grass10: #3e9b4f;
    --lb-colors-grass11: #2a7e3b;
    --lb-colors-grass12: #203c25;
    --lb-colors-lime1: #fcfdfa;
    --lb-colors-lime2: #f8faf3;
    --lb-colors-lime3: #eef6d6;
    --lb-colors-lime4: #e2f0bd;
    --lb-colors-lime5: #d3e7a6;
    --lb-colors-lime6: #c2da91;
    --lb-colors-lime7: #abc978;
    --lb-colors-lime8: #8db654;
    --lb-colors-lime9: #bdee63;
    --lb-colors-lime10: #b0e64c;
    --lb-colors-lime11: #5c7c2f;
    --lb-colors-lime12: #37401c;
    --lb-colors-mint1: #f9fefd;
    --lb-colors-mint2: #f2fbf9;
    --lb-colors-mint3: #ddf9f2;
    --lb-colors-mint4: #c8f4e9;
    --lb-colors-mint5: #b3ecde;
    --lb-colors-mint6: #9ce0d0;
    --lb-colors-mint7: #7ecfbd;
    --lb-colors-mint8: #4cbba5;
    --lb-colors-mint9: #86ead4;
    --lb-colors-mint10: #7de0cb;
    --lb-colors-mint11: #027864;
    --lb-colors-mint12: #16433c;
    --lb-colors-sky1: #f9feff;
    --lb-colors-sky2: #f1fafd;
    --lb-colors-sky3: #e1f6fd;
    --lb-colors-sky4: #d1f0fa;
    --lb-colors-sky5: #bee7f5;
    --lb-colors-sky6: #a9daed;
    --lb-colors-sky7: #8dcae3;
    --lb-colors-sky8: #60b3d7;
    --lb-colors-sky9: #7ce2fe;
    --lb-colors-sky10: #74daf8;
    --lb-colors-sky11: #00749e;
    --lb-colors-sky12: #1d3e56;
    --lb-shadows-sm: 0 1px 2px 0 rgba(0,0,0,0.05);
    --lb-shadows-md: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    --lb-shadows-focus: 0 0 0 1px var(--lb-colors-base-bg), 0 0 0 3px var(--lb-colors-blue9)
}

  [data-color-scheme=dark] {
    --lb-colors-base-bg: #18181a;
    --lb-colors-content-bg: #27282d;
    --lb-colors-borders: #35373c;
    --lb-colors-gray1: #18181a;
    --lb-colors-gray2: #1b1b1f;
    --lb-colors-gray3: #27282d;
    --lb-colors-gray4: #2e3035;
    --lb-colors-gray5: #35373c;
    --lb-colors-gray6: #3c3f44;
    --lb-colors-gray7: #464b50;
    --lb-colors-gray8: #5a6165;
    --lb-colors-gray9: #696e77;
    --lb-colors-gray10: #7d828a;
    --lb-colors-gray11: #adb1b8;
    --lb-colors-gray12: #edeef0;
    --lb-colors-gold1: #121211;
    --lb-colors-gold2: #1b1a17;
    --lb-colors-gold3: #24231f;
    --lb-colors-gold4: #2d2b26;
    --lb-colors-gold5: #38352e;
    --lb-colors-gold6: #444039;
    --lb-colors-gold7: #544f46;
    --lb-colors-gold8: #696256;
    --lb-colors-gold9: #978365;
    --lb-colors-gold10: #a39073;
    --lb-colors-gold11: #cbb99f;
    --lb-colors-gold12: #e8e2d9;
    --lb-colors-bronze1: #141110;
    --lb-colors-bronze2: #1c1917;
    --lb-colors-bronze3: #262220;
    --lb-colors-bronze4: #302a27;
    --lb-colors-bronze5: #3b3330;
    --lb-colors-bronze6: #493e3a;
    --lb-colors-bronze7: #5a4c47;
    --lb-colors-bronze8: #6f5f58;
    --lb-colors-bronze9: #a18072;
    --lb-colors-bronze10: #ae8c7e;
    --lb-colors-bronze11: #d4b3a5;
    --lb-colors-bronze12: #ede0d9;
    --lb-colors-brown1: #12110f;
    --lb-colors-brown2: #1c1816;
    --lb-colors-brown3: #28211d;
    --lb-colors-brown4: #322922;
    --lb-colors-brown5: #3e3128;
    --lb-colors-brown6: #4d3c2f;
    --lb-colors-brown7: #614a39;
    --lb-colors-brown8: #7c5f46;
    --lb-colors-brown9: #ad7f58;
    --lb-colors-brown10: #b88c67;
    --lb-colors-brown11: #dbb594;
    --lb-colors-brown12: #f2e1ca;
    --lb-colors-yellow1: #14120b;
    --lb-colors-yellow2: #1b180f;
    --lb-colors-yellow3: #2d2305;
    --lb-colors-yellow4: #362b00;
    --lb-colors-yellow5: #433500;
    --lb-colors-yellow6: #524202;
    --lb-colors-yellow7: #665417;
    --lb-colors-yellow8: #836a21;
    --lb-colors-yellow9: #ffe629;
    --lb-colors-yellow10: #ffff57;
    --lb-colors-yellow11: #f5e147;
    --lb-colors-yellow12: #f6eeb4;
    --lb-colors-amber1: #16120c;
    --lb-colors-amber2: #1d180f;
    --lb-colors-amber3: #302008;
    --lb-colors-amber4: #3f2700;
    --lb-colors-amber5: #4d3000;
    --lb-colors-amber6: #5c3d05;
    --lb-colors-amber7: #714f19;
    --lb-colors-amber8: #8f6424;
    --lb-colors-amber9: #ffc53d;
    --lb-colors-amber10: #ffd60a;
    --lb-colors-amber11: #ffca16;
    --lb-colors-amber12: #ffe7b3;
    --lb-colors-orange1: #17120e;
    --lb-colors-orange2: #1e160f;
    --lb-colors-orange3: #331e0b;
    --lb-colors-orange4: #462100;
    --lb-colors-orange5: #562800;
    --lb-colors-orange6: #66350c;
    --lb-colors-orange7: #7e451d;
    --lb-colors-orange8: #a35829;
    --lb-colors-orange9: #f76b15;
    --lb-colors-orange10: #ff801f;
    --lb-colors-orange11: #ffa057;
    --lb-colors-orange12: #ffe0c2;
    --lb-colors-tomato1: #181111;
    --lb-colors-tomato2: #1f1513;
    --lb-colors-tomato3: #391714;
    --lb-colors-tomato4: #4e1511;
    --lb-colors-tomato5: #5e1c16;
    --lb-colors-tomato6: #6e2920;
    --lb-colors-tomato7: #853a2d;
    --lb-colors-tomato8: #ac4d39;
    --lb-colors-tomato9: #e54d2e;
    --lb-colors-tomato10: #ec6142;
    --lb-colors-tomato11: #ff977d;
    --lb-colors-tomato12: #fbd3cb;
    --lb-colors-red1: #191111;
    --lb-colors-red2: #201314;
    --lb-colors-red3: #3b1219;
    --lb-colors-red4: #500f1c;
    --lb-colors-red5: #611623;
    --lb-colors-red6: #72232d;
    --lb-colors-red7: #8c333a;
    --lb-colors-red8: #b54548;
    --lb-colors-red9: #e5484d;
    --lb-colors-red10: #ec5d5e;
    --lb-colors-red11: #ff9592;
    --lb-colors-red12: #ffd1d9;
    --lb-colors-ruby1: #191113;
    --lb-colors-ruby2: #1e1517;
    --lb-colors-ruby3: #3a141e;
    --lb-colors-ruby4: #4e1325;
    --lb-colors-ruby5: #5e1a2e;
    --lb-colors-ruby6: #6f2539;
    --lb-colors-ruby7: #883447;
    --lb-colors-ruby8: #b3445a;
    --lb-colors-ruby9: #e54666;
    --lb-colors-ruby10: #ec5a72;
    --lb-colors-ruby11: #ff949d;
    --lb-colors-ruby12: #fed2e1;
    --lb-colors-crimson1: #191114;
    --lb-colors-crimson2: #201318;
    --lb-colors-crimson3: #381525;
    --lb-colors-crimson4: #4d122f;
    --lb-colors-crimson5: #5c1839;
    --lb-colors-crimson6: #6d2545;
    --lb-colors-crimson7: #873356;
    --lb-colors-crimson8: #b0436e;
    --lb-colors-crimson9: #e93d82;
    --lb-colors-crimson10: #ee518a;
    --lb-colors-crimson11: #ff92ad;
    --lb-colors-crimson12: #fdd3e8;
    --lb-colors-pink1: #191117;
    --lb-colors-pink2: #21121d;
    --lb-colors-pink3: #37172f;
    --lb-colors-pink4: #4b143d;
    --lb-colors-pink5: #591c47;
    --lb-colors-pink6: #692955;
    --lb-colors-pink7: #833869;
    --lb-colors-pink8: #a84885;
    --lb-colors-pink9: #d6409f;
    --lb-colors-pink10: #de51a8;
    --lb-colors-pink11: #ff8dcc;
    --lb-colors-pink12: #fdd1ea;
    --lb-colors-plum1: #181118;
    --lb-colors-plum2: #201320;
    --lb-colors-plum3: #351a35;
    --lb-colors-plum4: #451d47;
    --lb-colors-plum5: #512454;
    --lb-colors-plum6: #5e3061;
    --lb-colors-plum7: #734079;
    --lb-colors-plum8: #92549c;
    --lb-colors-plum9: #ab4aba;
    --lb-colors-plum10: #b658c4;
    --lb-colors-plum11: #e796f3;
    --lb-colors-plum12: #f4d4f4;
    --lb-colors-purple1: #18111b;
    --lb-colors-purple2: #1e1523;
    --lb-colors-purple3: #301c3b;
    --lb-colors-purple4: #3d224e;
    --lb-colors-purple5: #48295c;
    --lb-colors-purple6: #54346b;
    --lb-colors-purple7: #664282;
    --lb-colors-purple8: #8457aa;
    --lb-colors-purple9: #8e4ec6;
    --lb-colors-purple10: #9a5cd0;
    --lb-colors-purple11: #d19dff;
    --lb-colors-purple12: #ecd9fa;
    --lb-colors-violet1: #14121f;
    --lb-colors-violet2: #1b1525;
    --lb-colors-violet3: #291f43;
    --lb-colors-violet4: #33255b;
    --lb-colors-violet5: #3c2e69;
    --lb-colors-violet6: #473876;
    --lb-colors-violet7: #56468b;
    --lb-colors-violet8: #6958ad;
    --lb-colors-violet9: #6e56cf;
    --lb-colors-violet10: #7d66d9;
    --lb-colors-violet11: #baa7ff;
    --lb-colors-violet12: #e2ddfe;
    --lb-colors-iris1: #13131e;
    --lb-colors-iris2: #171625;
    --lb-colors-iris3: #202248;
    --lb-colors-iris4: #262a65;
    --lb-colors-iris5: #303374;
    --lb-colors-iris6: #3d3e82;
    --lb-colors-iris7: #4a4a95;
    --lb-colors-iris8: #5958b1;
    --lb-colors-iris9: #5b5bd6;
    --lb-colors-iris10: #6e6ade;
    --lb-colors-iris11: #b1a9ff;
    --lb-colors-iris12: #e0dffe;
    --lb-colors-indigo1: #11131f;
    --lb-colors-indigo2: #141726;
    --lb-colors-indigo3: #182449;
    --lb-colors-indigo4: #1d2e62;
    --lb-colors-indigo5: #253974;
    --lb-colors-indigo6: #304384;
    --lb-colors-indigo7: #3a4f97;
    --lb-colors-indigo8: #435db1;
    --lb-colors-indigo9: #3e63dd;
    --lb-colors-indigo10: #5472e4;
    --lb-colors-indigo11: #9eb1ff;
    --lb-colors-indigo12: #d6e1ff;
    --lb-colors-blue1: #0d1520;
    --lb-colors-blue2: #111927;
    --lb-colors-blue3: #0d2847;
    --lb-colors-blue4: #003362;
    --lb-colors-blue5: #004074;
    --lb-colors-blue6: #104d87;
    --lb-colors-blue7: #205d9e;
    --lb-colors-blue8: #2870bd;
    --lb-colors-blue9: #0090ff;
    --lb-colors-blue10: #3b9eff;
    --lb-colors-blue11: #70b8ff;
    --lb-colors-blue12: #c2e6ff;
    --lb-colors-cyan1: #0b161a;
    --lb-colors-cyan2: #101b20;
    --lb-colors-cyan3: #082c36;
    --lb-colors-cyan4: #003848;
    --lb-colors-cyan5: #004558;
    --lb-colors-cyan6: #045468;
    --lb-colors-cyan7: #12677e;
    --lb-colors-cyan8: #11809c;
    --lb-colors-cyan9: #00a2c7;
    --lb-colors-cyan10: #23afd0;
    --lb-colors-cyan11: #4ccce6;
    --lb-colors-cyan12: #b6ecf7;
    --lb-colors-teal1: #0d1514;
    --lb-colors-teal2: #111c1b;
    --lb-colors-teal3: #0d2d2a;
    --lb-colors-teal4: #023b37;
    --lb-colors-teal5: #084843;
    --lb-colors-teal6: #145750;
    --lb-colors-teal7: #1c6961;
    --lb-colors-teal8: #207e73;
    --lb-colors-teal9: #12a594;
    --lb-colors-teal10: #0eb39e;
    --lb-colors-teal11: #0bd8b6;
    --lb-colors-teal12: #adf0dd;
    --lb-colors-jade1: #0d1512;
    --lb-colors-jade2: #121c18;
    --lb-colors-jade3: #0f2e22;
    --lb-colors-jade4: #0b3b2c;
    --lb-colors-jade5: #114837;
    --lb-colors-jade6: #1b5745;
    --lb-colors-jade7: #246854;
    --lb-colors-jade8: #2a7e68;
    --lb-colors-jade9: #29a383;
    --lb-colors-jade10: #27b08b;
    --lb-colors-jade11: #1fd8a4;
    --lb-colors-jade12: #adf0d4;
    --lb-colors-green1: #0e1512;
    --lb-colors-green2: #121b17;
    --lb-colors-green3: #132d21;
    --lb-colors-green4: #113b29;
    --lb-colors-green5: #174933;
    --lb-colors-green6: #20573e;
    --lb-colors-green7: #28684a;
    --lb-colors-green8: #2f7c57;
    --lb-colors-green9: #30a46c;
    --lb-colors-green10: #33b074;
    --lb-colors-green11: #3dd68c;
    --lb-colors-green12: #b1f1cb;
    --lb-colors-grass1: #0e1511;
    --lb-colors-grass2: #141a15;
    --lb-colors-grass3: #1b2a1e;
    --lb-colors-grass4: #1d3a24;
    --lb-colors-grass5: #25482d;
    --lb-colors-grass6: #2d5736;
    --lb-colors-grass7: #366740;
    --lb-colors-grass8: #3e7949;
    --lb-colors-grass9: #46a758;
    --lb-colors-grass10: #53b365;
    --lb-colors-grass11: #71d083;
    --lb-colors-grass12: #c2f0c2;
    --lb-colors-lime1: #11130c;
    --lb-colors-lime2: #151a10;
    --lb-colors-lime3: #1f2917;
    --lb-colors-lime4: #29371d;
    --lb-colors-lime5: #334423;
    --lb-colors-lime6: #3d522a;
    --lb-colors-lime7: #496231;
    --lb-colors-lime8: #577538;
    --lb-colors-lime9: #bdee63;
    --lb-colors-lime10: #d4ff70;
    --lb-colors-lime11: #bde56c;
    --lb-colors-lime12: #e3f7ba;
    --lb-colors-mint1: #0e1515;
    --lb-colors-mint2: #0f1b1b;
    --lb-colors-mint3: #092c2b;
    --lb-colors-mint4: #003a38;
    --lb-colors-mint5: #004744;
    --lb-colors-mint6: #105650;
    --lb-colors-mint7: #1e685f;
    --lb-colors-mint8: #277f70;
    --lb-colors-mint9: #86ead4;
    --lb-colors-mint10: #a8f5e5;
    --lb-colors-mint11: #58d5ba;
    --lb-colors-mint12: #c4f5e1;
    --lb-colors-sky1: #0d141f;
    --lb-colors-sky2: #111a27;
    --lb-colors-sky3: #112840;
    --lb-colors-sky4: #113555;
    --lb-colors-sky5: #154467;
    --lb-colors-sky6: #1b537b;
    --lb-colors-sky7: #1f6692;
    --lb-colors-sky8: #197cae;
    --lb-colors-sky9: #7ce2fe;
    --lb-colors-sky10: #a8eeff;
    --lb-colors-sky11: #75c7f0;
    --lb-colors-sky12: #c2f3ff
}
}