{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "ignorePatterns": ["**/dist"],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "import/no-unresolved": 0
  }
}
