.nav {
  height: 100%;
  overflow: auto;
  padding: var(--space3) var(--space3) var(--space8);

  & button,
  & a {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: var(--space0p5);
    padding: var(--space1);
    font-size: var(--fontSize100);
    background: none;
    border: none;
    cursor: pointer;
    border-radius: var(--radiiSm);
    color: var(--text);
    outline: none;
    transition: 0.08s;
    text-decoration: none;

    &:hover {
      background: var(--interactiveHoverBg);
    }
  }

  & a {
    position: relative;
  }

  & a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background: var(--primary);
    border-radius: var(--radiiCircle);
    opacity: 0;
    transition: 0.08s;
  }

  & a.active {
    padding-left: var(--space4);
    background: var(--primaryBg);
    color: var(--primary);
    &::before {
      opacity: 1;
      left: var(--space1p5);
    }
  }
}

.no-results {
  font-size: var(--fontSize100);
  margin-top: var(--space2);
}

.folder-icon {
  transition: 0.08s;
  &.right {
    transform: rotate(0deg);
  }

  &.down {
    transform: rotate(90deg);
  }
}
