.select-content {
  background: var(--background);
  padding: var(--space0p5);
  margin-top: var(--space1);
  border: 1px solid var(--interactiveHoverBorder);
  border-radius: var(--radiiSm);
  min-width: 100px;
}

.select-item {
  background: var(--background);
  padding: var(--space1);
  border-radius: var(--radiiXs);

  outline: none;
  cursor: pointer;
  font-size: var(--fontSize100);
  color: var(--text);

  &:hover,
  &:focus {
    background: var(--interactiveHoverBg);
  }
}
