* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: white;
  --text: black;
  --textLight: #333;

  --interactiveHoverBg: #eceff8;
  --interactiveHoverText: #0e233c;
  --interactiveHoverBorder: #d8deeb;

  --primary: #0065ef;
  --primaryBg: #e2f1ff;

  --fontSize100: 0.8125rem;
  --fontSize200: 0.875rem;
  --fontSize300: 1rem;

  --space0: 0rem;
  --space0p5: 0.125rem;
  --space1: 0.25rem;
  --space1p5: 0.375rem;
  --space2: 0.5rem;
  --space3: 0.75rem;
  --space3p5: 0.875rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 1.75rem;
  --space8: 2rem;
  --space10: 2.5rem;
  --space12: 3rem;
  --space16: 4rem;
  --space20: 5rem;
  --space24: 6rem;
  --space32: 8rem;

  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --radiiNone: 0px;
  --radiiXs: 0.125rem;
  --radiiSm: 0.25rem;
  --radiiMd: 0.375rem;
  --radiiLg: 0.5rem;
  --radiiXl: 0.75rem;
  --radiiCircle: 50%;
  --radiiPill: 9999px;
}

.dark {
  --text: white;
  --background: black;
}

html {
  font-family: var(--sans);
  color: var(--text);
}

html,
body,
#root {
  height: 100%;
  background: var(--background);
  transition: background 0.08s;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;

  &.is-hidden {
    width: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

.title {
  font-size: var(--fontSize200);
  padding: var(--space4) 0 0 var(--space3);
  color: var(--text);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize100);
  color: var(--text);
}

iframe {
  border: none;
}
